
* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;	
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
     background-color:#fcc200;
	 padding:1vw;
	 font-family: Optima;
	 font-size:1.6rem;
	 color:black;
	 font-family:Sans-serif;

	 
	 
}
.photo {
     margin-top:0.2w;
     margin-right:0.2vw;
	 margin-bottom:0.2vw;
	 border-radius: 50%;
	
}
.photo2 {
     float:right;
	 Margin-top:1.4vw;
}




.navigation {
  list-style-type: none;
  margin: 0vw;
  padding: 0.1vw;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
li {
  float: right;
  font-family:Sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 5%;
}


.bannor {
  position: relative;
  text-align: center;
  color: white;
  font-family:Sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

}
.bannortext {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
}
.bannortext2 {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
  
}

.bannortext3 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
}  

.bannorimg {
  opacity:0.7;
}

.cta-button {
   font-size: 1.2vw;
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ff6f00;
   padding: 1.3vw 2vw;
   border-radius: 5px;
   text-decoration: none;
   color:white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   font-family:Sans-serif;
}
.cta-button:hover {
   	background-color:#ff872a;
}

.active {
  background-color: #04AA6D;
  border-radius: 5%;
  font-family:Sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
.about {
   text-align:center;
   padding: 60px 20px;
}
.abouttext {
   font-family:Sans-serif;
   margin:0 100 0 100 px;
}
.about h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
.abouttext {
    max-width: 1200px;
    margin: 0 auto;
}
.services-button {
   font-size: 1.2vw;
   background-color: #ff6f00;
   padding: 1.3vw 2vw;
   border-radius: 5px;
   text-decoration: none;
   color:white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   font-family:Sans-serif;
   margin-top:50px;
}
.ser-but{
   background-color:#fff;
   padding:30px;
   font-family:Sans-serif;
   
}
.ser-p {
   padding:30px;
   font-size:25px;
   
}
.services-button:hover {
   background-color:#ff872a;
}

@media (max-width: 768px){

.header {
	 padding:9px;
	 font-size:20px;
}
.photo {
   height:50px;
   wider:42x;
}
.navigation {
  margin: 0px;
  padding: 0px;
 
}
navigation {
  margin: 0px;
  padding: 0px;
 
}

.bannortext {
  font-size: 10px;
}


.bannortext2 {
  font-size: 7px;
  
}

.cta-button {
   font-size: 12px;
   padding: 9px 10px;
   top: 75%;
}

footer {
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 10px;
}
.bannortext {
  top: 20%;
  left: 50%;
  font-size: 15px;
}
.bannortext2 {
  top: 40%;
  left: 50%;
  font-size: 10px;
  
}

.bannortext3 {
  top: 65%;
  left: 50%;
  font-size: 10px;
}  

.cta-button {
   font-size: 16px;
   top: 85%;
   left: 50%;  
}
.about {
  padding: 30px 10px;
}
.about h2 {
   font-size: 15px;
   margin-bottom: 10px;
}
.abouttext {
   font-size: 12px;
   max-width: 300px;
}
.services-button {
   font-size: 12px;
   padding: 9px 10px;

}
.ser-but{
   background-color:#fff;
   padding:30px;
   font-family:Sans-serif;
   
}
.ser-p {
   padding:20px;
   font-size:15px;
   
}
}
